/* //  BACKGROUND // */
body {
  margin: 0;
  padding: 0;
  background-color: #e9eef0;
}

/* // LANDINGPAGE // */
.landingPage {
  height: 100vh;
  background-image: url("/images/background/kenrick-mills-MF9Wy1NA55I-unsplash 2.png");
  padding: 10% 5% 5% 5%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* position: absolute; */
  box-sizing: border-box;
}
/* //HEADERS // **/
h1 {
  font-family: Futura;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: left;
  color: #143e52;
}
h2 {
  font-family: Futura;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: #143e52;
  margin-bottom: 2.5%;
}

/* // SEARCH BOX // */
.whiteBox {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(
      180deg,
      #ffffff -22.98%,
      #e9eef0 66.9%,
      #d5dfe4 101.94%,
      #adc0c9 159.79%
    );
  box-shadow: 0px 2px 30px 19px rgba(173, 192, 201, 0.25);
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  min-height: 285px;
  max-height: max-content;
}
.whiteBox:after {
  padding-bottom: 399px;
}
.labels {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgb(20, 62, 82);
  text-align: left;
}
.inputBoxes {
  max-width: 200px;
  width: auto;
  cursor: pointer;
  background-color: #ffffff;
  border: solid 1px #143e52;
}

.inputPassenger {
  max-width: 200px;
  width: 100%;
  justify-content: right !important;
  cursor: pointer;
  background-color: #ffffff;
  border: solid 1px #143e52;
}
.heart-button {
  left: 6.45%;
  right: 6.45%;
  top: 12.49%;
  bottom: 11.54%;
  color: #143e52;
}
.heart-button:hover {
  color: #f2bf5d;
}
.icon-text {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #143e52;
}
.search-button {
  cursor: pointer;
  height: 58px;
  max-width: 200px;
  width: 100%;
  font-family: Futura !important;
  background-color: #143e52 !important;
  color: white !important;
  margin: 0px;
}
.search-button:hover {
  color: #f2bf5d !important;
}

/* // FLIGHTS 1st.RESULT // */
.flights {
  /* position: relative; */
  margin-top: 5%;
}
.flight-sorting {
  font-family: Futura !important;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #143e52 !important;
  text-align: center;
}
select {
  height: 48px;
  background: #ffffff;
  border: 1px solid #143e52;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Futura;
  font-style: normal;
  font-size: 12px;
  margin: 2% 1% 2% 1%;
}
li {
  list-style-type: none;
  display: inline-block;
  margin: 1%;
}
.flight-card {
  display: inline-flex;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  box-shadow: 0px 2px 30px 19px rgba(173, 192, 201, 0.25);
  border-radius: 20px;
  padding: 15px 20px 15px 20px;
  justify-self: center;
  
}
.flight-container {
  display: inline-flex;
  /* grid-template-columns: 33% 33% 33%; */
  align-items: center;
  justify-items: center;
 
}
.itineraries {
  border-right: 1px solid #adc0c9;
  margin-right: 3px;
  margin-left: 3px;
}
h4 {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #f2bf5d;
}
h5 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #43697e;
  word-spacing: 1.19vw;
  letter-spacing: 0.2px;
}
.trip-body {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  color: #143e52;
}
.trip-part1 {
  font-size: 10px;
  letter-spacing: 1pt;
  word-spacing: 12pt; /* para separacion entre palabras */
  text-align: center;
  line-height: 8pt; /* para la separacion entre lineas */
  text-indent: 1.5t;
  margin-bottom: 10px;
}
.trip-part2 {
  font-size: 8px;
  font-weight: normal;
  word-spacing: 1pt; /* para separacion entre palabras */
  text-align: center;
  line-height: 8pt; /* para la separacion entre lineas */
  margin-bottom: 10px;
}
.trip-part3 {
  font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 20pt;
  line-height: 8pt;
  text-indent: 4pt;
  margin-bottom: 15px;
}
.trip-price {
  text-align: center;
  margin-top: 50px;
  margin-left: 1%;
  margin-right: 2%;
}
h3 {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #143e52;
}
h6 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 12px !important;
  text-align: center;
  color: #43697e;
  margin-top: 15%;
}
.trip-select-button {
  width: 100%;
  height: 68%;
  font-family: Futura !important;
  background-color: #143e52 !important;
  color: white !important;
}
.trip-select-button:hover {
  color: #f2bf5d !important;
}
.split-button {
  width: 100%;
  height: 68%;
  font-family: Futura;
  font-style: normal;
  font-size: 8px !important;
  color: #43697e !important;
  border: 1px solid #43697e !important;
  box-sizing: border-box !important;
  border-radius: 10px;
  margin-top: 4% !important;
}
.split-button:hover {
  color: #f2bf5d !important;
}

/* // FLIGHTS SPLIT RESULT // */
.split-container {
  position: absolute;
  display: inline-block;
  right: 9%;
  margin: 1% 0% 1% 0%;
  z-index: 10;
}
.split-table {
  border-radius: 20px;
  box-shadow: 0px 2px 30px 19px rgba(173, 192, 201, 0.25);
  padding: 0% 2% 2% 2%;
  background-color: rgba(67, 105, 126, 1);
}
.split-menu {
  display: flex;
  margin-top: 0.5px !important;
}
.MuiTableCell-root {
  padding: 5px !important;
  margin: 5px !important;
  text-align: left !important;
  line-height: 1.2 !important;
  font-family: Futura !important;
  color: #ffffff !important;
  font-size: 12px !important;
  border-bottom: 0px  !important;
}
.split-header {
  border-bottom: 3px solid #adc0c9;
  text-align:center;
}
.split-sort {
  font-family: Futura !important;
  font-size: 12px !important;
  color: #43697e !important;
  border: 1px solid #43697e !important;
  background-color: #e9eef0;
  box-sizing: border-box !important;
  width: fit-content !important; 
  height: min-content !important; 
  margin:1px !important; 
}
.MuiTablePagination-root {
  font-family: Futura !important;
  font-size: 12px !important;
  color: #143e52 !important;
  border-bottom: 0px  !important;
}
.split-select {
  font-family: Futura !important;
  font-size: 12px !important;
  color: #43697e !important;
  border: 1px solid #43697e !important;
  box-sizing: border-box !important;
  background-color: #e9eef0 !important;
  margin-top: 40% !important;
  right: 9%;
}
.split-select:hover {
  color: #f2bf5d !important;
}
