/* Background  */
html {
  /* position: absolute;
  width: 1440px;
  height: 860px;
  left: 0px;
  top: 0px; */
  background-image: url("/images/background/kenrick-mills-MF9Wy1NA55I-unsplash 2.png");
}
/* //////////////////////////////////// */
/* header title H1 & H2 */
.headers{
  padding: 134px 80px 104px 80px;
}
h1 {
  /* width: 837px; */
  height: 74px;
  left: 78px;
  top: 234px;
  font-family: Futura;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #143e52;
  /* position: absolute; */
  color: #143e52;
}
h2 {
  /* position: absolute; */
  width: 404px;
  height: 43px;
  left: 78px;
  top: 336px;
  font-family: Futura;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  /* identical to box height */
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #143e52;
}
/* //////////////////////////////////// */
.whiteBox{
  background: linear-gradient(0deg, #ffffff, #ffffff),
  linear-gradient(
    180deg,
    #ffffff -22.98%,
    #e9eef0 66.9%,
    #d5dfe4 101.94%,
    #adc0c9 159.79%
  ); 
  box-shadow: 0px 2px 30px 19px rgba(173, 192, 201, 0.25);
  border-radius: 20px;
  /* justify-content: center; */
  padding: 30px 30px 30px 30px;
  width: 1280px;
  height: 285px;
  
}

.labels{
  /* position: absolute;  */
  /* width: 53px;
  height: 21px;
  left: 109px;
  top: 533px; */
  font-family: Futura;
  font-style: normal; 
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #143e52; 
  text-align: left;
  
}

/*Input-Box*/
.inputBoxes {
  min-width: 200px;
  height: 58px;
  cursor: pointer;
  background-color: #ffffff;
  border: solid 1px #143e52; 
}
.inputPassenger {
  min-width: 168px;
  height: 58px;
  cursor: pointer;
  background-color: #ffffff;
  border: solid 1px #143e52; 
}

.heart-button{
  left: 6.45%;
  right: 6.45%;
  top: 12.49%;
  bottom: 11.54%;
  color: #143e52;
}
.heart-button:hover{
  color:#F2BF5D;
}

.icon-text{
font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #143E52;
}

.search-button{
  cursor: pointer; 
  width: 200px;
  height: 58px;
  font-family: Futura !important; 
  background-color: #143e52 !important;
  color: white !important; 
  margin: 0px;
 
}
.search-button:hover{
  color:#F2BF5D !important;
}







